<!DOCTYPE>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
    <body>
        <p>Здравствуйте, уважаемый {{ username }}. Вы получили это письмо, так как
        запросили смену пароля для вашей учетной записи <b>{{ login }}</b>. Для
            восстановления пароля просьба перейти по ссылке: <a href="{{ password_reset_link }}">{{ password_reset_link }}</a> .</p>
        <br>
        <p>Просим заметить, что ссылка действительна в течение 3-х дней с момента запроса
        на смену пароля.</p>
        <br>
        <p>С уважением, команда сервиса <b>SERVICE</b></p>
    </body>
</html>
