<html>
    <head>
        <title>Articles</title>
    </head>
        <body>
        <h1>Articles</h1>
        <form action="{{ redirect_url }}">
            <input type="submit" value="Create article"/>
        </form>
        {% for article in articles %}
            Article's name: {{ article.name }}, created at: {{ article.created_at }}, body {{ article.body }},
            tags: {{ article.tags }}<br>
        {% endfor %}
        <p>Page {{ page }}</p>
        {% if is_previous_page %}
        <form action="{{ previous_page_url }}">
            <input type="submit" value="Previous page"/>
        </form>
        {% endif %}
        {% if is_next_page %}
        <form action="{{ next_page_url }}">
            <input type="submit" value="Next page"/>
        </form>
        {% endif %}
    </body>
</html>
