<html>
     <head>
         <title>Login Form</title>
     </head>
         <body>
         <h1>Login</h1>
         <form action="" method="post">
             <label for="password">Восстановление пароля</label>
             <p>Введите новый пароль</p>
             <input type="password" id="password" name="password"><br><br>

             <form action="{{ redirect_url }}">
                 <input type="submit" value="Reset password"/>
             </form>
         </form>
     </body>
 </html>
