<html>
     <head>
         <title>Login Form</title>
     </head>
         <body>
         <h1>Login</h1>
         <form action="" method="post">
             <label for="email">Восстановление пароля</label>
             <p>Введите свой email для восстановления пароля</p>
             <input type="email" id="email" name="email"><br><br>

             <p>Если введеный email присутствует в нашей базе, то вам придет ссылка на восстановление пароля.
             Проверьте почтовый ящик.</p>
             <form action="{{ redirect_url }}">
                 <input type="submit" value="Send link"/>
             </form>
         </form>
     </body>
 </html>
