<html>
     <head>
         <title>Login Form</title>
     </head>
         <body>
         <h1>Login</h1>
         <form action="" method="post">
             <label for="identity">Телефон или почта</label>
             <input type="text" id="identity" name="identity"><br><br>

             <label for="password">Password</label>
             <input type="password" id="password" name="password"><br><br>

             <form action="">
                 <input type="submit" value="Login"/>
             </form>
             <a href="{{ forgot_password_url }}">Не помню пароль</a>
         </form>
     </body>
 </html>
